@import "tailwindcss";
@import "./_base.css";

body {
  margin: 0;
  min-height: 100dvh;
}

.pagination-btn {
  padding: 0.5rem 1rem;
  min-width: 80px;
  border: none;
  background-color: #273242;
  color: white;
  font-weight: 600;
  border-radius: 0.375rem;
  cursor: pointer;
}